<img src="https://i.ibb.co/qjt4Ymb/2022-09-19-004719.png" alt="2022-09-19-004719" border="0">

# 亞洲大學112深度學習教材(AUDL112-W3-Notebook2)
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# Pandas 基礎教學

### Pandas官網教學參考資料: http://pandas.pydata.org/pandas-docs/stable/10min.html

Notebook Contents:

    - Object creation
    - Viewing data
    - Selection
        - Getting
        - Selection by label
        - Selection by position
        - Boolean indexing
        - Setting
    - Missing data
    - Operations
        - Stats
        - Apply
        - Histogramming
        - String methods
    - Merge
        - Concat
        - Append
    - Grouping
    - Reshaping
        - Pivot tables
    - Categoricals
    - Getting data in/out
        - CSV
        - HDF5
        - Excel

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Object creation

In [ ]:
# creating a Series by passing a list of values
squares = pd.Series([(x+1)**2 for x in range(10)])
squares

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [ ]:
# creating a data frame by passing a NumPy array and datetime index
dates = pd.date_range('20220101', periods=365)

In [ ]:
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-12-22', '2022-12-23', '2022-12-24', '2022-12-25',
               '2022-12-26', '2022-12-27', '2022-12-28', '2022-12-29',
               '2022-12-30', '2022-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(365, 5), index=dates, columns=list('ABCDE'))

In [ ]:
df.head()

                   A         B         C         D         E
2018-01-01  1.048747  1.166403 -1.207365  1.672502 -0.076005
2018-01-02 -0.656670 -1.564638 -0.456144 -0.310407 -0.789131
2018-01-03  0.412311 -0.479121 -0.505750 -0.491365  0.290513
2018-01-04  0.560690 -0.683607  0.219270  0.689923  1.365661
2018-01-05 -0.546503  1.233485  0.221366  1.106833  0.215232

In [ ]:
# creating a data frame with heterogeneous columns
df = pd.DataFrame({'A': pd.Timestamp('20180607'),
                   'B': np.array([1, 2, 3]),
                   'C': pd.Categorical(['Monday', 'Tuesday', 'Wednesday']),
                   'D': 'foo'})
df.dtypes

A    datetime64[ns]
B             int64
C          category
D            object
dtype: object

### Viewing data

In [ ]:
# viewing the top and bottom rows of a data frame
dates = pd.date_range('20180101', periods=7)

df = pd.DataFrame(np.random.randn(7, 5), index=dates, columns=list('ABCDE'))

print('\ndf.head():\n', df.head(3))
print('\ndf.tail():\n', df.tail(3))

df.head():
                    A         B         C         D         E
2018-01-01  0.350699 -0.792276  0.278369 -0.804336  0.034424
2018-01-02 -1.077853 -0.037199 -0.495724 -0.157902 -0.322449
2018-01-03 -0.607696  1.124448  1.223667  1.488039 -0.737083

df.tail():
                    A         B         C         D         E
2018-01-05 -0.219869  0.541723 -1.061455 -0.901717 -0.104271
2018-01-06 -0.214812 -0.445127 -0.369663  1.469740 -1.314640
2018-01-07 -0.583755 -2.154450 -0.376266  0.333800  1.146212

In [ ]:
# displaying the index, columns, and underlying NumPy data
df.index

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [ ]:
df.values

array([[ 0.35069852, -0.79227621,  0.27836937, -0.80433574,  0.03442422],
       [-1.07785287, -0.03719944, -0.49572419, -0.15790248, -0.32244891],
       [-0.60769644,  1.12444847,  1.22366657,  1.4880393 , -0.73708267],
       [-0.97600026,  0.36389892,  1.05614805, -0.56093777, -0.45808227],
       [-0.21986867,  0.54172278, -1.06145514, -0.90171679, -0.10427106],
       [-0.21481187, -0.44512711, -0.36966289,  1.46974027, -1.31463975],
       [-0.58375501, -2.15445031, -0.37626599,  0.33379975,  1.14621232]])

In [ ]:
# quick statistics summary of the data
df.describe()

              A         B         C         D         E
count  7.000000  7.000000  7.000000  7.000000  7.000000
mean  -0.475612 -0.199855  0.036439  0.123812 -0.250841
std    0.493024  1.070791  0.849672  1.014737  0.760569
min   -1.077853 -2.154450 -1.061455 -0.901717 -1.314640
25%   -0.791848 -0.618702 -0.435995 -0.682637 -0.597582
50%   -0.583755 -0.037199 -0.369663 -0.157902 -0.322449
75%   -0.217340  0.452811  0.667259  0.901770 -0.034923
max    0.350699  1.124448  1.223667  1.488039  1.146212

In [ ]:
# the transpose of the data
df.T

,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07
A,0.350699,-1.077853,-0.607696,-0.976000,-0.219869,-0.214812,-0.583755
B,-0.792276,-0.037199,1.124448,0.363899,0.541723,-0.445127,-2.154450
C,0.278369,-0.495724,1.223667,1.056148,-1.061455,-0.369663,-0.376266
D,-0.804336,-0.157902,1.488039,-0.560938,-0.901717,1.469740,0.333800
E,0.034424,-0.322449,-0.737083,-0.458082,-0.104271,-1.314640,1.146212

In [ ]:
# sorting by axis
df.sort_index(axis=1, ascending=False)

                   E         D         C         B         A
2018-01-01  0.034424 -0.804336  0.278369 -0.792276  0.350699
2018-01-02 -0.322449 -0.157902 -0.495724 -0.037199 -1.077853
2018-01-03 -0.737083  1.488039  1.223667  1.124448 -0.607696
2018-01-04 -0.458082 -0.560938  1.056148  0.363899 -0.976000
2018-01-05 -0.104271 -0.901717 -1.061455  0.541723 -0.219869
2018-01-06 -1.314640  1.469740 -0.369663 -0.445127 -0.214812
2018-01-07  1.146212  0.333800 -0.376266 -2.154450 -0.583755

In [ ]:
# sorting by values
df.sort_values(by='A')

                   A         B         C         D         E
2018-01-07 -0.890844 -0.588599 -0.795019  0.102595 -0.045346
2018-01-05 -0.430460 -0.055724  0.186669 -0.396696  0.470835
2018-01-04 -0.364895  0.334046  0.512061 -0.040454  0.307350
2018-01-02 -0.012205 -0.319893 -2.000438  0.631361  0.175507
2018-01-03  0.622287 -0.400552  0.003416 -1.021138  0.660240
2018-01-01  1.188499 -1.444900 -0.885302 -1.185026 -0.058049
2018-01-06  1.300738  0.291381  0.977539  1.347319 -1.122778

### Selection

###### Getting

In [ ]:
# select an column
df['A']

2018-01-01    0.350699
2018-01-02   -1.077853
2018-01-03   -0.607696
2018-01-04   -0.976000
2018-01-05   -0.219869
2018-01-06   -0.214812
2018-01-07   -0.583755
Freq: D, Name: A, dtype: float64

In [ ]:
# select rows by slicing
df[0:3]

                   A         B         C         D         E
2018-01-01  0.350699 -0.792276  0.278369 -0.804336  0.034424
2018-01-02 -1.077853 -0.037199 -0.495724 -0.157902 -0.322449
2018-01-03 -0.607696  1.124448  1.223667  1.488039 -0.737083

###### Selection by label

In [ ]:
df.loc[dates[0]]

A    0.350699
B   -0.792276
C    0.278369
D   -0.804336
E    0.034424
Name: 2018-01-01 00:00:00, dtype: float64

In [ ]:
df.loc[:, ['A', 'B', 'C']] # select all rows, columns A, B, and C

                   A         B         C
2018-01-01  0.350699 -0.792276  0.278369
2018-01-02 -1.077853 -0.037199 -0.495724
2018-01-03 -0.607696  1.124448  1.223667
2018-01-04 -0.976000  0.363899  1.056148
2018-01-05 -0.219869  0.541723 -1.061455
2018-01-06 -0.214812 -0.445127 -0.369663
2018-01-07 -0.583755 -2.154450 -0.376266

In [ ]:
# select by row labels and column labels
df.loc['20180101':'20180105', ['A', 'B', 'C']]

                   A         B         C
2018-01-01  0.350699 -0.792276  0.278369
2018-01-02 -1.077853 -0.037199 -0.495724
2018-01-03 -0.607696  1.124448  1.223667
2018-01-04 -0.976000  0.363899  1.056148
2018-01-05 -0.219869  0.541723 -1.061455

In [ ]:
# fast access to a scalar value
df.at[dates[0], 'A']

###### Selection by position

In [ ]:
df.iloc[0:3, 0:3]

                   A         B         C
2018-01-01  0.350699 -0.792276  0.278369
2018-01-02 -1.077853 -0.037199 -0.495724
2018-01-03 -0.607696  1.124448  1.223667

In [ ]:
# arbitrarily selecting by row and column indices
df.iloc[[0, 1, 3],[0, 2, 3]]

                   A         C         D
2018-01-01  1.188499 -0.885302 -1.185026
2018-01-02 -0.012205 -2.000438  0.631361
2018-01-04 -0.364895  0.512061 -0.040454

In [ ]:
# we can slice by rows or columns
col_1 = df.iloc[:, 0] # first column
row_1 = df.iloc[0, :] # first row

print('\nColumn 1:\n', col_1.values)
print('\nRow 1:\n', row_1.values)

Column 1:
 [ 0.35069852 -1.07785287 -0.60769644 -0.97600026 -0.21986867 -0.21481187
 -0.58375501]

Row 1:
 [ 0.35069852 -0.79227621  0.27836937 -0.80433574  0.03442422]

In [ ]:
# again, getting fast access to a scalar
df.iat[0, 0]

###### Boolean indexing

In [ ]:
days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
weeks = np.array([str(2000 + x) for x in range(10)])

# average car crashes by day of week per year (random)
data = np.floor(np.abs(10*np.random.randn(10, 7)))

df = pd.DataFrame(data, index=weeks, columns=days)

# Select all years where average # crashes on Sundays > 10
print(df[df['Sun'] > 5])

       Sun   Mon   Tue   Wed   Thu  Fri  Sat
2002  13.0   7.0  14.0   7.0   5.0  5.0  2.0
2005   6.0   6.0  14.0   8.0  14.0  1.0  7.0
2007  12.0   0.0   8.0  10.0  18.0  8.0  4.0
2008   9.0  12.0  10.0  13.0  14.0  4.0  3.0

In [ ]:
df

       Sun   Mon   Tue   Wed   Thu   Fri   Sat
2000   3.0   7.0  15.0   3.0   8.0   1.0   7.0
2001   2.0   7.0   5.0   6.0   6.0  13.0   5.0
2002  13.0   7.0  14.0   7.0   5.0   5.0   2.0
2003   1.0  10.0   3.0   4.0   3.0   2.0  11.0
2004   2.0  16.0  14.0  19.0  15.0   3.0   9.0
2005   6.0   6.0  14.0   8.0  14.0   1.0   7.0
2006   4.0   7.0  15.0  12.0  17.0  15.0   2.0
2007  12.0   0.0   8.0  10.0  18.0   8.0   4.0
2008   9.0  12.0  10.0  13.0  14.0   4.0   3.0
2009   3.0  10.0   4.0   2.0   4.0   0.0  13.0

###### Setting

In [ ]:
# use df.loc[] to set by row or column name

# set first column all to 0's
df.loc[:, ['Sun']] = np.zeros((10, 1))

# set first row all to 1's
df.loc['2000', :] = np.ones((1, 7))

In [ ]:
df

      Sun   Mon   Tue   Wed   Thu   Fri   Sat
2000  1.0   1.0   1.0   1.0   1.0   1.0   1.0
2001  0.0   5.0   1.0  17.0  12.0  30.0   5.0
2002  0.0  11.0   4.0  10.0   0.0  10.0   3.0
2003  0.0  15.0   0.0   0.0  11.0   7.0  21.0
2004  0.0   5.0  12.0  11.0   1.0   9.0  10.0
2005  0.0   3.0   3.0  19.0   5.0   4.0  27.0
2006  0.0   8.0   7.0  14.0   9.0   9.0  14.0
2007  0.0   8.0  11.0   7.0  13.0  25.0   2.0
2008  0.0  12.0   1.0   9.0   8.0  12.0   7.0
2009  0.0   3.0   0.0   0.0   1.0  11.0   8.0

In [ ]:
# use df.iloc[] to set by row or column index

# set first column to all 1's
df.iloc[:, 0] = np.ones((10, 1))

# set first row to all 0's
df.iloc[0, :] = np.zeros((1, 7))

In [ ]:
df

### Missing data

In [ ]:
# set some missing values
df.iloc[0, 0] = float('nan')
df.iloc[1, 2] = float('nan')
df.iloc[2, 0] = float('nan')
df.iloc[3, 5] = float('nan')
df.iloc[9, 3] = float('nan')

In [ ]:
df

      Sun   Mon   Tue   Wed   Thu   Fri   Sat
2000  NaN   0.0   0.0   0.0   0.0   0.0   0.0
2001  1.0   7.0   NaN   6.0   6.0  13.0   5.0
2002  NaN   7.0  14.0   7.0   5.0   5.0   2.0
2003  1.0  10.0   3.0   4.0   3.0   NaN  11.0
2004  1.0  16.0  14.0  19.0  15.0   3.0   9.0
2005  1.0   6.0  14.0   8.0  14.0   1.0   7.0
2006  1.0   7.0  15.0  12.0  17.0  15.0   2.0
2007  1.0   0.0   8.0  10.0  18.0   8.0   4.0
2008  1.0  12.0  10.0  13.0  14.0   4.0   3.0
2009  1.0  10.0   4.0   NaN   4.0   0.0  13.0

In [ ]:
# we can drop rows that have missing data using dropna(how='any')
#df.dropna(how='any')

In [ ]:
# fill missing data (returns a COPY of df)

df_copy = df.fillna(value=1.0)

In [ ]:
df_copy

      Sun   Mon   Tue   Wed   Thu   Fri   Sat
2000  1.0   0.0   0.0   0.0   0.0   0.0   0.0
2001  1.0   7.0   1.0   6.0   6.0  13.0   5.0
2002  1.0   7.0  14.0   7.0   5.0   5.0   2.0
2003  1.0  10.0   3.0   4.0   3.0   1.0  11.0
2004  1.0  16.0  14.0  19.0  15.0   3.0   9.0
2005  1.0   6.0  14.0   8.0  14.0   1.0   7.0
2006  1.0   7.0  15.0  12.0  17.0  15.0   2.0
2007  1.0   0.0   8.0  10.0  18.0   8.0   4.0
2008  1.0  12.0  10.0  13.0  14.0   4.0   3.0
2009  1.0  10.0   4.0   1.0   4.0   0.0  13.0

In [ ]:
# get boolean mask of missing values: True--NaN, False--Otherwise
bool_mask = pd.isna(df)

In [ ]:
bool_mask

        Sun    Mon    Tue    Wed    Thu    Fri    Sat
2000   True  False  False  False  False  False  False
2001  False  False   True  False  False  False  False
2002   True  False  False  False  False  False  False
2003  False  False  False  False  False   True  False
2004  False  False  False  False  False  False  False
2005  False  False  False  False  False  False  False
2006  False  False  False  False  False  False  False
2007  False  False  False  False  False  False  False
2008  False  False  False  False  False  False  False
2009  False  False  False   True  False  False  False

### Operations

In general, operations on Panda data frames EXCLUDE missing data

###### Stats

In [ ]:
df.describe()

       Sun        Mon        Tue        Wed        Thu        Fri        Sat
count  8.0  10.000000   9.000000   9.000000  10.000000   9.000000  10.000000
mean   0.0   7.100000   4.333333   9.777778   6.100000  12.333333   9.800000
std    0.0   4.508018   4.636809   6.495725   5.108816   9.354143   8.547904
min    0.0   1.000000   0.000000   0.000000   0.000000   1.000000   1.000000
25%    0.0   3.500000   1.000000   7.000000   1.000000   9.000000   3.500000
50%    0.0   6.500000   3.000000  10.000000   6.500000  10.000000   7.500000
75%    0.0  10.250000   7.000000  14.000000  10.500000  12.000000  13.000000
max    0.0  15.000000  12.000000  19.000000  13.000000  30.000000  27.000000

In [ ]:
df.mean()

Sun     0.000000
Mon     7.100000
Tue     4.333333
Wed     9.777778
Thu     6.100000
Fri    12.333333
Sat     9.800000
dtype: float64

###### Apply

In [ ]:
# we can apply functions to all the data in the data frame
df = df.apply(np.sqrt)
df

      Sun       Mon       Tue       Wed       Thu       Fri       Sat
2000  NaN  1.000000  1.000000  1.000000  1.000000  1.000000  1.000000
2001  0.0  2.236068       NaN  4.123106  3.464102  5.477226  2.236068
2002  NaN  3.316625  2.000000  3.162278  0.000000  3.162278  1.732051
2003  0.0  3.872983  0.000000  0.000000  3.316625       NaN  4.582576
2004  0.0  2.236068  3.464102  3.316625  1.000000  3.000000  3.162278
2005  0.0  1.732051  1.732051  4.358899  2.236068  2.000000  5.196152
2006  0.0  2.828427  2.645751  3.741657  3.000000  3.000000  3.741657
2007  0.0  2.828427  3.316625  2.645751  3.605551  5.000000  1.414214
2008  0.0  3.464102  1.000000  3.000000  2.828427  3.464102  2.645751
2009  0.0  1.732051  0.000000       NaN  1.000000  3.316625  2.828427

###### Histrogramming

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s.value_counts()

1    3
0    3
6    2
5    1
2    1
dtype: int64

###### String methods

In [ ]:
s = pd.Series(['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'])
print(s, end='\n\n')
print(s.str.lower())

0    Sun
1    Mon
2    Tue
3    Wed
4    Thu
5    Fri
6    Sat
dtype: object

0    sun
1    mon
2    tue
3    wed
4    thu
5    fri
6    sat
dtype: object

### Merge

###### Concat

In [ ]:
df = pd.DataFrame(np.random.randn(3, 5))
print('Original:\n\n', df, end='\n\n')
pieces = [df[0:1], df[1:2], df[2:3]]
print('Pieces:\n\n', pieces, end='\n\n')
concat = pd.concat(pieces)
print('Concatenation:\n\n', concat)

###### Append

In [ ]:
df = pd.DataFrame(np.ones((3, 3)), columns=list('ABC'))
new_row = pd.DataFrame(np.zeros((1, 3)), columns=list('ABC'))

# append new row
df = df.append(new_row, ignore_index=True)

# append new column
new_col = pd.DataFrame(np.zeros((4, 1)))

df['D'] = new_col

df

     A    B    C    D
0  1.0  1.0  1.0  0.0
1  1.0  1.0  1.0  0.0
2  1.0  1.0  1.0  0.0
3  0.0  0.0  0.0  0.0

### Grouping

In [ ]:
# applying a function to a group of data in df
df.groupby('A').sum()

### Reshaping

###### Pivot tables

In [ ]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12), 'E' : np.random.randn(12)})

piv_table = pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])
piv_table

### Categoricals

In [ ]:
df = pd.DataFrame({'students':['Mark', 'John', 'Mary', 'Susan'],
                   'grades':['C+', 'A', 'B-', 'A-']})

df

In [ ]:
df['students']

In [ ]:
df['curved grade'] = ['B-', 'A', 'B', 'A']
df

In [ ]:
df['raw grades'] = df['grades'].astype("category")
df['raw grades']

In [ ]:
# we can rename the categories inplace by using cat.categories
df['raw grades'].cat.categories = ['excellent', 'very good', 'good', 'okay']
df['raw grades']

In [ ]:
df.sort_values(by='grades')

### Getting data in/out

###### CSV

In [ ]:
# writing to a csv file
df.to_csv('class.csv')

In [ ]:
# reading from a csv file
pd.read_csv('class.csv')

###### Excel

In [ ]:
# writing to an excel file
# NOTE: need openpyxl module for this operation
#df.to_excel('foo.xlsx', sheet_name='Sheet1')